################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DatingApp/FileContentIndex/acb15381-2fd0-40aa-ab2c-854fb41eb3cd.vsidx
